<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>App cliente qui appelle l'API</h1>

    <button type="button" id="callAPI">Lancer un appel fetch()</button>

    <div class="c"></div>

    <script>
        document.getElementById('callAPI').onclick = function() {

            fetch("http://localhost:8888/c", {
                method:'POST',
                headers: {
                    'Content-Type':'application/json'
                }
            })
                .then(response => response.json())
                .then( ({users}) => {
                    let u = "<ul>";
                    for (const user of users) u += `<li> ${user.name}  </li>`;
                    const container = document.querySelector('.c');
                    container.innerHTML = u;
                });

            alert('Appel fetch() réalisé!\nRegardez le résultat dans votre console web.');

        }
    </script>
</body>

</html>